/* Add CSS Styling */

.pink {
    background-color: rgb(243,165,166);
    color: black;
}

.bigger {
    font-size: 25px;
}

#biggest {
    background-color: #ffffff;
    color: #224AFB;
    font-size: 35px;
}

#green {
    background-color: #7AF280;
}