/* Add CSS Styling */

.pink {
    background-color: rgb(243,165,166);
    color: black;
    font-family: arial;
    font-size: 20px;
}

.bigger {
    font-size: 30px;
}

#biggest {
    background-color: #ffffff;
    color: #224AFB;
    font-size: 45px;
    font-family: "Times New Roman", serif;
    height: 65px;
}

#green {
    background-color: #7AF280;
    font-weight: 700;
}