/* Add CSS Styling */

.pink {
    background-color: rgb(243,165,166);
    color: black;
    font-family: Verdana, "DejaVu", "Sans", sans-serif;
}

.bigger {
    font-size: 24px;
}

#biggest {
    background-color: #ffffff;
    color: #224AFB;
    font-size: 36px;
}

#green {
    background-color: #7AF280;
    font-weight: 700;
}