/* Add CSS Styling */

.black {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.yellow {
    background-color: #FDF733;
}

.black, .yellow {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif
}