body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 1em;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 15px 10px 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 12px auto 0;
  padding: 10px 0 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto 0;
  padding: 5px 20px 5px;
}