body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 1em;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 15px 5px 15px;
}

.button-container {
  background: #e3f4ff;
  display: inline-block;
}

button {
  background: white;
  border: 1px solid #eee;
}